body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(10,10,10,0.95);
}
.cube{
     position:relative;
     width: 400px;
     height: 400px;
     transform-style: preserve-3d;
     animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        transform:rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform:rotateX(-30deg) rotateY(360deg);
    }
}
.cube div{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(18, 6, 46),rgb(0, 113, 206));
    transform: rotateY(calc(10deg*var(--i))) translateZ(200px);
}
.top{
    position: absolute;
    top: 0px;
    left:0px;
    width: 400px;
    height: 400px;
    background: rgba(18, 6, 46, 0.1);
    transform: rotateX(90deg) translateZ(198px);
    border-radius:50% ;
}
.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgb(48, 153, 240);
    transform: translateX(-70px) translateZ(-480px);
    filter: blur(30px);
    box-shadow: rgba(0, 0, 255, 0.2),
    rgba(0, 0, 255, 0.4),
    rgba(0, 0, 255, 0.6),
    rgba(0, 0, 255, 0.8),
    rgba(0, 0, 255, 1);
}